.card.text-white.bg-dark(id="pin-" + pin.id)
    a(href="/pin/"+pin.id)
        image.card-img-top.img-fluid(src=pin.source, title=pin.title, onerror="this.onerror=null;this.src='/img/broken_link.png';")
    .card-body
        h5.card-title= pin.title
        p.card-text
        small.text-muted Posted By 
            if user && pin.owner && user.id==pin.owner.id
                a(href="/pinsBy/user/" + pin.owner) You
                button.delete-pin.float-right(data-id=pin.id) Delete
            else 
                if pin.owner && pin.owner.profile
                    a(href="/pinsBy/user/" + pin.owner.id)= pin.owner.profile.name
                else
                    span the System